In [1]:
lst = ["hello",10,12,'C']

In [2]:
print(lst)

['hello', 10, 12, 'C']

In [4]:
tpl = ('Hello',15 ,'C',2.00)

In [5]:
print(tpl)

('Hello', 15, 'C', 2.0)

In [6]:
for tp in tpl:
    print(tp)

Hello
15
C
2.0

In [10]:
dic = {'a':10,15:"Hello",2.0:["Pakistan",'Lahore','Islamabad'],'pak':10000}

In [13]:
print(dic[2.0][1])

Lahore

In [9]:
for key,value in dic.items():
    print(key,value)

a 10
15 Hello
2.0 Pakistan

In [14]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10} 
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

In [15]:
print(aliens)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

In [18]:
print(aliens[1]['points'])

10

In [21]:
for aliens_numbers in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

In [24]:
for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [28]:
for alien in aliens[:5]:
    alien['color'] = 'yellow'

In [29]:
for alien in aliens:
    print(alien)

{'color': 'yellow', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'yellow', 'points': 15}
{'color': 'yellow', 'points': 5, 'speed': 'slow'}
{'color': 'yellow', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [31]:
for alien in aliens[:5]:
     if alien['color'] == 'yellow':
        alien['speed'] = 'medium'
        alien['points'] = 10

In [32]:
for alien in aliens:
    print(alien)

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [34]:
users = {    
    
    'aeinstein': {        
    'first': 'albert',        
    'last': 'einstein',        
    'location': 'princeton'},
    
    'mcurie': {        
        'first': 'marie',        
        'last': 'curie',        
        'location': 'paris'},
    
}

In [35]:
print(users['mcurie']['location'])

paris

# Chapter 7

In [44]:
prompt = "\nTell me something, and I will repeat it back to you:" 
prompt += "\nEnter 'quit' to end the program"
prompt += ": "

message = ""
active = True
while active:
    message = input(prompt)
    if message.lower() == 'quit':
        active = False
        
    else:
        print(message,"!")

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program: Hello World
Hello World !

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program: Pakistan Zindabad
Pakistan Zindabad !

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program: quit

In [45]:
prompt = "\nTell me something, and I will repeat it back to you:" 
prompt += "\nEnter 'quit' to end the program"
prompt += ": "

message = ""
active = True
while message.lower() != 'quit':
    
    message = input(prompt)
    
    if message.lower() == 'quit':
        break
        
    else:
        print(message,"!")

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program: hello
hello !

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program: quit

In [ ]:
unconfirnmed_users = ['Alice','brain','candace','david']
confirmed_users = []
while unconfirnmed_users:
    confirmed_users.append(unconfirnmed_users.pop())

for user in confirmed_users:
    print(user)

In [2]:
x,y,z = ("Hello World",10,2.25)

In [3]:
x

'Hello World'

In [4]:
y

10

In [5]:
z

2.25

In [8]:
2 + 9 /\
100

2.09

In [13]:
"FRIday"[4]

'a'

In [17]:
10 is not 100

True

In [25]:
def x_y(a,b):
    return a+b,a-b,a/b,a*b

In [26]:
x_y(15,5)

(20, 10, 3.0, 75)

In [29]:
out = []
for n in x_y(15,5):
    out.append(n)

In [30]:
print(out)

[20, 10, 3.0, 75]

In [35]:
def double(x):
    return x + x

def plus_bonus(x):
    return double(x)+50

plus_bonus(10),double(60)

(70, 120)

In [36]:
pow(2,2)

4

In [37]:
2**2

4

In [39]:
round(10.9998576,5)

10.99986

In [86]:
names = ["Ali",'Bilal',"Zabi"]

In [87]:
names

['Ali', 'Bilal', 'Zabi']

In [88]:
names.append("khan")

In [89]:
names

['Ali', 'Bilal', 'Zabi', 'khan']

In [74]:
names.extend("Ayub")

In [75]:
names

['Ali', 'Bilal', 'Zabi', 'A', 'y', 'u', 'b']

In [90]:
del names[3]

In [91]:
names.extend(["Ayub","KhanBaba"])

In [92]:
names

['Ali', 'Bilal', 'Zabi', 'Ayub', 'KhanBaba']

In [93]:
 names.index('Ayub')

3

dictionary
dict['key']
dict.get('key')

In [95]:
import random as rnd
import numpy as np

In [104]:
np.random.randint(1,6,(4,6))

array([[1, 5, 4, 5, 1, 4],
       [1, 1, 5, 5, 5, 5],
       [2, 5, 2, 2, 4, 5],
       [2, 1, 4, 4, 3, 2]])

In [105]:
import pandas as pd

In [212]:
ser['Data'] = pd.Series(np.random.random(5), name="Column 01")

In [213]:
ser[['Data']]

Data    0    0.917037
1    0.353650
2    0.807667
3   ...
Name: Column 01, dtype: object

In [214]:
ser[2]

0.08644481049099972

In [215]:
from pandas_datareader import data as wb

In [216]:
# Procter and Gamble: PG
# Apple: AAPL
# Microsoft: MSFT

PG =  wb.DataReader('PG', data_source='yahoo', start='1995-01-01')

In [217]:
PG

                 Open       High        Low      Close  Adj Close    Volume
Date
1995-01-03  15.468750  15.625000  15.437500  15.593750   9.027610   3318400
1995-01-04  15.531250  15.656250  15.312500  15.468750   8.955246   2218800
1995-01-05  15.375000  15.437500  15.218750  15.250000   8.828607   2319600
1995-01-06  15.156250  15.406250  15.156250  15.281250   8.846698   3438000
1995-01-09  15.343750  15.406250  15.187500  15.218750   8.810512   1795200
1995-01-10  15.281250  15.437500  15.187500  15.406250   8.919065   4364000
1995-01-11  15.593750  15.593750  15.375000  15.375000   8.900970   3738400
1995-01-12  15.375000  15.531250  15.312500  15.531250   8.991429   3307600
1995-01-13  15.593750  15.843750  15.531250  15.625000   9.096954   3992800
1995-01-16  15.906250  15.968750  15.750000  15.750000   9.169730   3677200
1995-01-17  15.718750  15.812500  15.656250  15.812500   9.206117   2437600
1995-01-18  15.687500  15.750000  15.437500  15.468750   9.005984   3535200
1995-01-19  15.343750  15.406250  15.343750  15.406250   8.969593   2491200
1995-01-20  15.406250  15.406250  15.250000  15.343750   8.933213   5130800
1995-01-23  15.187500  15.500000  15.187500  15.500000   9.024179   3147200
1995-01-24  15.500000  15.531250  15.375000  15.468750   9.005984   2016400
1995-01-25  15.500000  15.781250  15.437500  15.687500   9.133345   2802400
1995-01-26  15.718750  15.843750  15.687500  15.750000   9.169730   3124000
1995-01-27  15.812500  16.250000  15.812500  16.187500   9.424442   6247200
1995-01-30  16.125000  16.562500  16.093750  16.437500   9.569995   5226400
1995-01-31  16.343750  16.500000  16.281250  16.281250   9.479025   3934800
1995-02-01  16.343750  16.343750  15.937500  15.968750   9.297089   3047200
1995-02-02  15.968750  16.125000  15.875000  16.093750   9.369864   3810400
1995-02-03  16.218750  16.375000  16.187500  16.250000   9.460831   4442800
1995-02-06  16.281250  16.625000  16.281250  16.625000   9.679154   4003600
1995-02-07  16.562500  16.593750  16.406250  16.593750   9.660966   2380400
1995-02-08  16.593750  16.593750  16.406250  16.406250   9.551802   2481200
1995-02-09  16.437500  16.468750  16.312500  16.375000   9.533609   2143600
1995-02-10  16.343750  16.406250  16.156250  16.343750   9.515415   2445600
1995-02-13  16.312500  16.468750  16.312500  16.468750   9.588191   1726400
...               ...        ...        ...        ...        ...       ...
2017-08-25  92.650002  92.860001  92.410004  92.510002  92.510002   4933000
2017-08-28  92.519997  92.709999  91.980003  92.470001  92.470001   5386500
2017-08-29  92.480003  92.690002  92.239998  92.320000  92.320000   3676300
2017-08-30  92.080002  92.080002  91.660004  91.870003  91.870003   4709600
2017-08-31  91.889999  92.389999  91.839996  92.269997  92.269997   5864400
2017-09-01  92.419998  92.660004  92.260002  92.529999  92.529999   4960700
2017-09-05  92.180000  92.739998  92.040001  92.720001  92.720001   6532100
2017-09-06  92.790001  92.910004  92.360001  92.720001  92.720001   6747200
2017-09-07  92.739998  93.360001  92.330002  92.970001  92.970001   7735400
2017-09-08  92.760002  93.150002  92.510002  92.839996  92.839996   6070100
2017-09-11  93.089996  94.190002  92.900002  93.989998  93.989998  10177300
2017-09-12  93.720001  93.980003  93.209999  93.510002  93.510002   5804000
2017-09-13  93.500000  93.769997  93.449997  93.550003  93.550003   5369300
2017-09-14  93.230003  93.650002  93.180000  93.550003  93.550003   5492300
2017-09-15  93.820000  93.820000  92.820000  93.269997  93.269997  12428800
2017-09-18  93.169998  93.500000  92.860001  93.150002  93.150002   6177700
2017-09-19  93.339996  94.449997  93.339996  94.169998  94.169998   6587200
2017-09-20  94.169998  94.669998  93.830002  94.400002  94.400002   5941500
2017-09-21  94.150002  94.500000  92.449997  92.639999  92.639999   9376700
2017-09-22  92.550003  93.000000  92.080002  92.239998  92.239998   6837700
2017-09-25  92.430000  93.089996  92.330002  92.720001  92.720001   6436200
2017-09-26  92.820000  92.849998  92.199997  92.650002  92.650002   4885200
2017-09-27  92.519997  92.519997  90.339996  90.870003  90.870003   9631200
2017-09-28  90.860001  91.120003  90.629997  90.889999  90.889999   4999800
2017-09-29  90.970001  91.430000  90.699997  90.980003  90.980003   6634500
2017-10-02  91.260002  92.400002  91.239998  91.769997  91.769997   7302400
2017-10-03  91.959999  92.339996  91.559998  92.120003  92.120003   5909900
2017-10-04  92.120003  92.800003  92.019997  92.419998  92.419998   6140700
2017-10-05  92.489998  92.650002  91.940002  92.029999  92.029999   6912800
2017-10-06  92.000000  92.349998  91.879997  92.330002  92.330002   5240100

[5733 rows x 6 columns]

In [139]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5733 entries, 1995-01-03 to 2017-10-06
Data columns (total 6 columns):
Open         5733 non-null float64
High         5733 non-null float64
Low          5733 non-null float64
Close        5733 non-null float64
Adj Close    5733 non-null float64
Volume       5733 non-null int64
dtypes: float64(5), int64(1)
memory usage: 313.5 KB

In [141]:
PG.tail(10)

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-09-25  92.430000  93.089996  92.330002  92.720001  92.720001  6436200
2017-09-26  92.820000  92.849998  92.199997  92.650002  92.650002  4885200
2017-09-27  92.519997  92.519997  90.339996  90.870003  90.870003  9631200
2017-09-28  90.860001  91.120003  90.629997  90.889999  90.889999  4999800
2017-09-29  90.970001  91.430000  90.699997  90.980003  90.980003  6634500
2017-10-02  91.260002  92.400002  91.239998  91.769997  91.769997  7302400
2017-10-03  91.959999  92.339996  91.559998  92.120003  92.120003  5909900
2017-10-04  92.120003  92.800003  92.019997  92.419998  92.419998  6140700
2017-10-05  92.489998  92.650002  91.940002  92.029999  92.029999  6912800
2017-10-06  92.000000  92.349998  91.879997  92.330002  92.330002  5240100

In [218]:
tickers = ['PG','MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [219]:
new_data.tail()

                   PG       MSFT          T      F         GE
Date
2017-10-02  91.769997  74.610001  38.624962  12.09  24.570000
2017-10-03  92.120003  74.260002  38.990372  12.34  24.799999
2017-10-04  92.419998  74.690002  39.010124  12.30  24.480000
2017-10-05  92.029999  75.970001  39.019997  12.25  24.540001
2017-10-06  92.330002  76.000000  38.590000  12.31  24.389999

In [236]:
tickers = ['PG','MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Open']

In [237]:
new_data.head()

                  PG      MSFT        T          F        GE
Date
1995-01-03  15.46875  3.843750  20.1875  10.218671  8.458333
1995-01-04  15.53125  3.765625  19.8750  10.218671  8.500000
1995-01-05  15.37500  3.804688  20.0000  10.538004  8.458333
1995-01-06  15.15625  3.742188  20.3125  10.401147  8.500000
1995-01-09  15.34375  3.804688  20.2500  10.401147  8.437500

In [ ]:
import quandl

In [ ]:
mydata_01 = quandl.get("FRED/GDP")
mydata_01.info()

In [ ]:
mydata_01.head()

In [ ]:
import numpy as np
from pandas_datareader import data as wb
from matplotlib import pyplot as plt

In [ ]:
%matplotlib

In [239]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [240]:
PG.head()

                Open      High       Low     Close  Adj Close   Volume
Date
1995-01-03  15.46875  15.62500  15.43750  15.59375   9.027610  3318400
1995-01-04  15.53125  15.65625  15.31250  15.46875   8.955246  2218800
1995-01-05  15.37500  15.43750  15.21875  15.25000   8.828607  2319600
1995-01-06  15.15625  15.40625  15.15625  15.28125   8.846698  3438000
1995-01-09  15.34375  15.40625  15.18750  15.21875   8.810512  1795200

In [241]:
PG['Simple return'] = (PG['Adj Close']/PG['Adj Close'].shift(1))-1

In [242]:
PG[['Simple return']]

            Simple return
Date
1995-01-03            NaN
1995-01-04      -0.008016
1995-01-05      -0.014141
1995-01-06       0.002049
1995-01-09      -0.004090
1995-01-10       0.012321
1995-01-11      -0.002029
1995-01-12       0.010163
1995-01-13       0.011736
1995-01-16       0.008000
1995-01-17       0.003968
1995-01-18      -0.021739
1995-01-19      -0.004041
1995-01-20      -0.004056
1995-01-23       0.010183
1995-01-24      -0.002016
1995-01-25       0.014142
1995-01-26       0.003984
1995-01-27       0.027777
1995-01-30       0.015444
1995-01-31      -0.009506
1995-02-01      -0.019194
1995-02-02       0.007828
1995-02-03       0.009708
1995-02-06       0.023077
1995-02-07      -0.001879
1995-02-08      -0.011299
1995-02-09      -0.001905
1995-02-10      -0.001908
1995-02-13       0.007648
...                   ...
2017-08-25       0.002601
2017-08-28      -0.000432
2017-08-29      -0.001622
2017-08-30      -0.004874
2017-08-31       0.004354
2017-09-01       0.002818
2017-09-05       0.002053
2017-09-06       0.000000
2017-09-07       0.002696
2017-09-08      -0.001398
2017-09-11       0.012387
2017-09-12      -0.005107
2017-09-13       0.000428
2017-09-14       0.000000
2017-09-15      -0.002993
2017-09-18      -0.001287
2017-09-19       0.010950
2017-09-20       0.002442
2017-09-21      -0.018644
2017-09-22      -0.004318
2017-09-25       0.005204
2017-09-26      -0.000755
2017-09-27      -0.019212
2017-09-28       0.000220
2017-09-29       0.000990
2017-10-02       0.008683
2017-10-03       0.003814
2017-10-04       0.003257
2017-10-05      -0.004220
2017-10-06       0.003260

[5733 rows x 1 columns]

In [246]:
PG['Simple return'].plot(figsize=(8,5))
plt.show()